.patient-list {    
    /* Layout Properties */
    position: absolute;
    top: 122px;
    left: 18px;
    width: 367px;
    height: 1054px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
}

.patient-list__header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px;
}

.patient-list__header__title {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal 800 24px/33px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
    width: 100px;
    height: 33px;
}

.patient-list__header__image {
    width: 18px;
    height: 18px;
}

.patient-list__body {
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 0 20px;
}