.lab-results {
    position: absolute;
    top: 930px;
    left: 1255px;
    bottom: 123px;
    width: 367px;
    height: 296px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 15px;
    padding: 20px;
}
.lab-results-title {
    width: 137px;
    height: 33px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal 800 24px/33px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
    margin-bottom: 30px;
}

.lab-results-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: left;
}

.lab-results-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.lab-results-header-title {
    /* width: 70px; */
height: 18px;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 13px/18px var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
text-align: left;
font: normal normal normal 13px/18px Manrope;
letter-spacing: 0px;
color: #072635;
text-transform: capitalize;
opacity: 1;
}