.diagnostic-list {
    position: absolute;
    top: 873px;
    left: 417px;
    width: 766px;
    bottom: 18px;
    height: 349px;
    padding: 20px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
}

.diagnostic-list-title {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal 800 24px/33px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}

.diagnostic-list-header {
    background: #F6F7F8 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
    margin-top: 28px;
    margin-bottom: 8px;
    width: 726px;
    height: 48px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal bold 14px/19px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}

.dp-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-left: 18px;
    padding-right: 18px;
}

.diagnostic-list-container {
    display: flex;
    flex-direction: column;
    gap: 19px;
    text-align: left;
}

.diagnostic-list-item {
    font:  var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal 14px/19px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}
